@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-4  col-sm-6 col-md-9">
        <div class="list-group">
            <a href="#" class="list-group-item  list-group-item-action" ng-click="gc.edit(model, gridForm)"
               ng-repeat="model in gc.list  | filter:ac.searchText" ng-form="gridForm">
                <span class="badge">{{model.groupSize}}</span>
                <div>
                    <h4>{{model.tripDate_ | date : "MM/dd/yyyy"}}, {{model.airportId_.text}} - {{model.airportId_.text2}}</h4>
                    <p>{{model.transTypeId_.text}}, {{model.groupName}}</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-3">
        <div ng-if="gc.model">
            <trip-form ds="gc.ds" form-init="gc.onFormInit(form)" model="gc.model" on-cancel="gc.cancel()"
                       on-save="gc.save(model, form)" on-delete="gc.delete(model)" show-delete="true"></trip-form>

        </div>
        <div ng-if="!gc.model">
            <button type="button" class="btn btn-primary" ng-click="gc.add(gridForm)">Add New Trip</button>
        </div>
    </div>
</div>
