@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/Trip.css" rel="stylesheet"/>

    <title>Angular .NET Reference App</title>
</head>
<body>
<div ng-app="TripAppModule" class="container">
    <div ng-controller="TripAppController as ac" ng-cloak>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" 
                            data-target="#bs-example-navbar-collapse-3" ng-click="ac.navCollapsed = !ac.navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a href='@Url.Action("Tool2", "App" )' class="navbar-brand">
                        <img src='@Url.Content("~/Images/notes-redesign-logo.png")' height="35" alt="" style="margin-bottom: 10px" />
                    </a>*@
                    <a class="navbar-brand" href="/#">
                        @*<img src="~/Images/sasha4.PNG" alt="alkotek" height="25"/>*@
                        <span style="color:darkblue">Angular.NET</span>
                    </a>
                </div>
                <div uib-collapse="!ac.navCollapsed" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li class="dropdown" uib-dropdown on-toggle="toggled(isOpen)">
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                Demo<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="a in ac.actions" ng-click="ac.navCollapsed = !ac.navCollapsed;">
                                    <a href="#" ng-click="ac.viewMode=a.action">{{a.text}}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" uib-dropdown>
                            <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
                                Code <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"ng-repeat="item in ac.code" ng-class="{divider : item.name==='divider'}"
                                    ng-click="ac.navCollapsed = !ac.navCollapsed;">
                                    <a ng-if="$index === 0" ng-href="{{item.url}}" target="_blank">{{item.name}}b</a>
                                    <a ng-if="$index !== 0" ng-href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/{{item.url}}" 
                                       target="_blank">{{item.name}}b</a>
                                </li>
 
                            </ul>

                        </li>
                    </ul>
                    <div class="container navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="ac.searchText" placeholder="Filter">
                        </div>

                    </div>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
        <div style="margin-top: 50px;">
            <div ng-if="ac.viewMode==1">
                <h2>Entry Grid</h2>
                <trip-entry-grid data-ds="ac.ds" search="ac.searchText"></trip-entry-grid>
            </div>
            <div ng-if="ac.viewMode==2">
                <h2>Popup Form and a Grid</h2>
                <trip-popup-grid ds="ac.ds"></trip-popup-grid>
            </div>
            <div ng-if="ac.viewMode==3" style="margin-right: 50px;">
                <h2>Side Form Grid</h2>
                <trip-side-form-grid ds="ac.ds"></trip-side-form-grid>
            </div>
            <div ng-if="ac.viewMode==4" class="col-md-10">
                <h2>Inline Grid</h2>
                <trip-inline-grid ds="ac.ds"></trip-inline-grid>
            </div>
            <div ng-if="ac.viewMode==6">
                <h2>Navigate To Form</h2>
                <trip-nav-to-form ds="ac.ds"></trip-nav-to-form>
            </div>
            <div ng-if="ac.viewMode==100" ng-include="urlApp + 'Partial/Learn' "></div>
        </div>
    </div>
</div>

<script>
    var urlApp = '@Url.Content("~")'
    var userId = 1; //@@Model.userId;
    var isMaterial = false;
</script>
<script src="~/SPA/common.js"></script>
<script src="~/SPA/DataServices.js"></script>
<script src="~/SPA/Components/TripForm.js"></script>
<script src="~/SPA/Components/TripEntryGrid.js"></script>
<script src="~/SPA/Components/TripInlineGrid.js"></script>
<script src="~/SPA/Components/TripNavToForm.js"></script>
<script src="~/SPA/Components/TripPopupGrid.js"></script>
<script src="~/SPA/Components/TripSideFormGrid.js"></script>
<script src="~/SPA/TripAppController.js"></script>

</body>
</html>
