@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/Trip.css" rel="stylesheet"/>

    <title>Angular .NET Reference App</title>
</head>
<body>
<div ng-app="TripAppModule">
    <div ng-controller="TripAppController as ac" ng-cloak>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" data-toggle="collapse"
                            ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a href='@Url.Action("Tool2", "App" )' class="navbar-brand">
                        <img src='@Url.Content("~/Images/notes-redesign-logo.png")' height="35" alt="" style="margin-bottom: 10px" />
                    </a>*@
                    <a class="navbar-brand" href="/#">
                        @*<img src="~/Images/sasha4.PNG" alt="alkotek" height="25"/>*@
                        <span style="color:darkblue">Angular.NET</span>
                    </a>
                </div>
                <div uib-collapse="navCollapsed" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" ng-click="ac.viewMode=1">Always Editable</a></li>
                        <li uib-dropdown is-open="isopen">
                            <a href="#" ng-click="mode = 1" uib-dropdown-toggle>Code</a>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet" target="_blank">Project on Github</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/TripAppController.ts" target="_blank">App Controller</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/DataServices.ts" target="_blank">Data Service</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/Views/App/TripApp.cshtml" target="_blank">App HTML</a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/Components/TripEntryGrid.ts" target="_blank">Entry Grid Component</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/Views/Component/TripEntryGrid.cshtml" target="_blank">Entry Grid HTML</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/Components/TripForm.ts" target="_blank">Form Component</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/Views/Component/TripForm.cshtml" target="_blank">Form HTML</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/Components/TripPopupGrid.ts" target="_blank">Popup Form Component</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/Views/Component/TripPopupGrid.cshtml" target="_blank">Popup Form HTML</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/Components/TripNavToForm.ts" target="_blank">Nav To Form Component</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/Views/Component/TripNavToForm.cshtml" target="_blank">Nav To Form HTML</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/Components/TripSideFormGrid.ts" target="_blank">Siade Form Component</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/Views/Component/TripSideFormGrid.cshtml" target="_blank">Side Form HTML</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/SPA/Components/TripInlineGrid.ts" target="_blank">Inline Edit Component</a></li>
                                <li role="menuitem"><a href="https://github.com/sashatek/AngularNet/blob/master/AngularNet/Views/Component/TripInlineGrid.cshtml" target="_blank">Inline edit HTML</a></li>

                              </ul>

                        </li>
                        <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                GRID Edit Mode<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="ac.viewMode=1">Always Editable</a></li>
                                <li><a href="#" ng-click="ac.viewMode=2">Popup Form</a></li>
                                <li><a href="#" ng-click="ac.viewMode=6">Nav to Form</a></li>
                                <li><a href="#" ng-click="ac.viewMode=3">Side Form</a></li>
                                <li><a href="#" ng-click="ac.viewMode=4">Inline</a></li>
                                @*<li ng-repeat="model in ids.modes">
                                            <a href="#" ng-click="genCode(model.value)">{{model.text}}</a>
                                        </li>*@
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Flight", "Main", "App")</li>
                    </ul>
                    <div class="container navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="ac.searchText" placeholder="Filter">
                        </div>

                    </div>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </div>
        <div class="col-xs-12" style="margin-top: 50px;">
            <div ng-if="ac.viewMode==1">
                <h2>Entry Grid</h2>
                <trip-entry-grid data-ds="ac.ds" search="ac.searchText"></trip-entry-grid>
            </div>
            <div ng-if="ac.viewMode==2">
                <h2>Popup Form and a Grid</h2>
                <trip-popup-grid ds="ac.ds"></trip-popup-grid>
            </div>
            <div ng-if="ac.viewMode==3" style="margin-right: 50px;">
                <h2>Side Form Grid</h2>
                <trip-side-form-grid ds="ac.ds"></trip-side-form-grid>
            </div>
            <div ng-if="ac.viewMode==4" class="col-md-10">
                <h2>Inline Grid</h2>
                <trip-inline-grid ds="ac.ds"></trip-inline-grid>
            </div>
            <div ng-if="ac.viewMode==6">
                <h2>Navigate To Form</h2>
                <trip-nav-to-form ds="ac.ds"></trip-nav-to-form>
            </div>
            <div ng-if="ac.viewMode==100" ng-include="urlApp + 'Partial/Learn' "></div>
        </div>
    </div>
</div>

<script>
    var urlApp = '@Url.Content("~")'
    var userId = 1; //@@Model.userId;
    var isMaterial = false;
</script>
<script src="~/SPA/common.js"></script>
<script src="~/SPA/DataServices.js"></script>
<script src="~/SPA/Components/TripForm.js"></script>
<script src="~/SPA/Components/TripEntryGrid.js"></script>
<script src="~/SPA/Components/TripInlineGrid.js"></script>
<script src="~/SPA/Components/TripNavToForm.js"></script>
<script src="~/SPA/Components/TripPopupGrid.js"></script>
<script src="~/SPA/Components/TripSideFormGrid.js"></script>
<script src="~/SPA/TripAppController.js"></script>

</body>
</html>
