
@{
    Layout = null;
}

<div ng-controller="TripListnFormController as gc">
    <h2>List and Form</h2>
    <div class="row">
        <div class="col-md-8">
            <table class="datatable">
                <tr>
                    <th>Trip Date</th>
                    <th>Airport</th>
                    <th>Airport Name</th>
                    <th>Trans Type Id</th>
                    <th>Group Name</th>
                    <th>Group Size</th>
                    <th>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="gc.addTrip(tripForm)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
                <tr ng-repeat="model in gc.trip.list  | filter:ac.searchText" ng-form="tripForm" ng-click="gc.editTrip(model, tripForm)"
                    ng-class="{selected : gc.trip.model === model}">
                    <td>
                        {{model.tripDate_ | date : "MM/dd/yyyy"}}
                    </td>
                    <td>{{model.airportId_.text}}</td>
                    <td>{{model.airportId_.text2}}</td>
                    <td>
                        {{model.transTypeId_.text}}
                    </td>
                    <td>
                        {{model.groupName}}
                    </td>
                    <td>
                        {{model.groupSize}}
                    </td>
                    <td></td>
                </tr>
            </table>       
        </div>test: {{gc.trip.model | json}}
        <div class="col-md-3">
            <div ng-if="gc.trip.model">
                <form role="form" name="TripForm" novalidate>
                    <div class="form-group">
                        <label for="tripDate" class="control-label">Trip Date</label>
                        <div class="input-group">
                            <input type="text" ng-model="gc.trip.model.tripDate_" datepicker-popup="MM/dd/yyyy" class="form-control" id="tripDate" is-open="calop" required>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="calop = !calop;$event.stopPropagation()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="airportId" class="control-label">Airport IATA</label>
                        <input type="text" class="form-control" ng-model="gc.trip.model.airportId_" id="airportId" required
                               typeahead="o as o.text for o in gc.ds.lookupArpt($viewValue)" typeahead-on-select="gc.trip.model.airportId = $item.value"
                               typeahead-editable="false" />
                    </div>
                    <div class="form-group">
                        <label for="airportId" class="control-label">Airport Name</label>
                        <div class="form-control-static">
                            {{gc.trip.model.airportId_.text2}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="transTypeId" class="control-label">Trans Type Id</label>
                        <select ng-model="gc.trip.model.transTypeId" ng-options="o.value as o.text for o in gc.ds.ref.transTypes"
                                class="form-control" id="transTypeId" required not-set="-1"></select>
                    </div>
                    <div class="form-group">
                        <label for="groupName" class="control-label">Group Name</label>
                        <input type="text" ng-model="gc.trip.model.groupName" class="form-control" id="groupName" required>
                    </div>
                    <div class="form-group">
                        <label for="groupSize" class="control-label">Group Size</label>
                        <input type="number" ng-model="gc.trip.model.groupSize" class="form-control" id="groupSize">
                    </div>
                </form>
                <div>
                    <button type="button" class="btn btn-primary" ng-click="gc.saveTrip(TripForm)" ng-init="gc.formInit(TripForm)"
                            ng-disabled="!(TripForm.$dirty && TripForm.$valid)">
                        Save
                    </button>

                    <button type="button" class="btn btn-primary" ng-click="gc.cancel()">Cancel</button>
                    <button type="button" class="btn btn-warning" ng-click="gc.deleteTrip()"
                            ng-show="!model.isNew">
                        Delete
                    </button>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        </div>
</div>

